<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Eat Da Burger</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/burgers.js"></script>
	</head>
	<body>
		<div class="row">
			<div class="col-md-4"></div>
				<div class="col-md-4" id="banner">
						<h1>Eat Da Burger!</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1"></div>
					<div class="col-md-10">
						{{{ body }}}
					</div>
			</div>
	</body>
</html>
